page-home {

    h3{
        text-align: center;
        font-weight: bold;
    }

    .img-logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        margin-top: 30px;
    }

    #login-button{
        display: grid;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }

    #register-button{
        display: grid;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
}
